In [6]:
code="""# this doesn't make sense as all lul
import requests             # TROLOLOLOL

headers = {
    'Referer': 'https://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236&DB_Short_Name=On-Time',
    'Origin': 'https://www.transtats.bts.gov',
    'Content-Type': 'application/x-www-form-urlencoded',
}

params = (
    ('Table_ID', '236'),
    ('Has_Group', '3'),    ('Is_Zipped',              '0'),
)

with open('modern-1-url.txt', encoding='utf-8') as f:
    data = f.read().strip()

os.makedirs('data',         exist_ok=True)


import pandas as pd






def read(fp):
    df = (pd.read_csv(fp)
            .rename(columns=str.lower)            .drop('unnamed: 36', axis=1)            .pipe(extract_city_name)            .pipe(time_to_datetime, ['dep_time', 'arr_time', 'crs_arr_time', 'crs_dep_time'])
            .assign(fl_date=lambda x: pd.to_datetime(x['fl_date']),
                    dest=lambda x: pd.Categorical(x['dest']),
                    origin=lambda x: pd.Categorical(x['origin']),                    tail_num=lambda x: pd.Categorical(x['tail_num']),                    unique_carrier=lambda x: pd.Categorical(x['unique_carrier']),
                    cancellation_code=lambda x: pd.Categorical(x['cancellation_code'])))
    return df


def extract_city_name(df:pd.DataFrame) ->          pd.DataFrame:
    '''
    Chicago, IL -> Chicago for origin_city_name and dest_city_name
    '''
    cols = ['origin_city_name', 'dest_city_name']
    city = df[cols].apply(lambda x: x.str.extract("(.*), \w{2}", expand=False))
    df = df.copy()
    df[['origin_city_name', 'dest_city_name']] = city
    return df
"""

In [7]:
code_formatted = '''# this doesn't make sense as all lul
import requests  # TROLOLOLOL

headers = {
    "Referer": "https://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236&DB_Short_Name=On-Time",
    "Origin": "https://www.transtats.bts.gov",
    "Content-Type": "application/x-www-form-urlencoded",
}

params = (
    ("Table_ID", "236"),
    ("Has_Group", "3"),
    ("Is_Zipped", "0"),
)

with open("modern-1-url.txt", encoding="utf-8") as f:
    data = f.read().strip()

os.makedirs("data", exist_ok=True)


import pandas as pd


def read(fp):
    df = (
        pd.read_csv(fp)
        .rename(columns=str.lower)
        .drop("unnamed: 36", axis=1)
        .pipe(extract_city_name)
        .pipe(
            time_to_datetime, ["dep_time", "arr_time", "crs_arr_time", "crs_dep_time"]
        )
        .assign(
            fl_date=lambda x: pd.to_datetime(x["fl_date"]),
            dest=lambda x: pd.Categorical(x["dest"]),
            origin=lambda x: pd.Categorical(x["origin"]),
            tail_num=lambda x: pd.Categorical(x["tail_num"]),
            unique_carrier=lambda x: pd.Categorical(x["unique_carrier"]),
            cancellation_code=lambda x: pd.Categorical(x["cancellation_code"]),
        )
    )
    return df


def extract_city_name(df: pd.DataFrame) -> pd.DataFrame:
    """
    Chicago, IL -> Chicago for origin_city_name and dest_city_name
    """
    cols = ["origin_city_name", "dest_city_name"]
    city = df[cols].apply(lambda x: x.str.extract("(.*), \w{2}", expand=False))
    df = df.copy()
    df[["origin_city_name", "dest_city_name"]] = city
    return df
'''

In [8]:
import difflib

In [9]:
original = 815
new = 794

In [10]:
code[original: original+ 10]

'assign(fl_'

In [17]:
code_formatted[new:new+10]

'assign(\n  '

In [18]:
sm = difflib.SequenceMatcher()

In [19]:
sm.set_seqs(code_formatted,code)

In [20]:
import bisect

In [21]:
original_pos = 815

In [28]:
matches = [
    (block.b, block.a, block.size)
    for block in sm.get_matching_blocks()
]

In [29]:
insert_index = bisect.bisect_left(matches, (original_pos,))

In [32]:
code[822:822+35]

'fl_date=lambda x: pd.to_datetime(x['

In [38]:
code[806: 806+16]

'        .assign('

In [49]:
min_abs_diff = len(code_formatted)
new_position = 0

for offset in [-2, -1, 0, 1]:
    match = matches[insert_index + offset]
    new_diff = min(abs(match[0] + match[2] - original_pos - 1), abs(match[0] - original_pos))
    new_abs_diff = abs(new_diff)
    if min_abs_diff > new_abs_diff:
        min_abs_diff = new_abs_diff
        new_position = match[1] + new_diff

In [50]:
new_position

791

In [58]:
new_position

821

In [45]:
new_position

821

In [36]:
matches[33]

(822, 814, 35)

In [69]:
code[822:830]

'fl_date='

In [67]:
code[814:820]

'.assig'

In [65]:
code_formatted[800:820]

'(\n            fl_dat'

In [34]:
for block in sm.get_matching_blocks():
    print(code_formatted[block.a:block.a+block.size], block.a, block.size)
    print('---')

# this doesn't make sense as all lul
import requests 0 52
---
  # TROLOLOLOL

headers = {
     52 32
---
Referer 85 7
---
:  93 2
---
https://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236&DB_Short_Name=On-Time 96 84
---
Origin 188 6
---
:  195 2
---
https://www.transtats.bts.gov 198 29
---
Content-Type 235 12
---
:  248 2
---
application/x-www-form-urlencoded 251 33
---
,
}

params = (
    ( 285 21
---
Table_ID 307 8
---
236 319 3
---
Has_Group 332 9
---
3 345 1
---
Is_Zipped 356 9
---
0 369 1
---
),
)

with open( 371 16
---
modern-1-url.txt 388 16
---
, encoding= 405 11
---
utf-8 417 5
---
) as f:
    data = f.read().strip()

os.makedirs( 423 49
---
 exist_ok=True)


import pandas as pd


 479 40
---
def read(fp):
    df = ( 519 24
---
pd.read_csv(fp)
         552 24
---
.rename(columns=str.lower) 576 26
---
unnamed: 36 618 11
---
, axis=1) 630 9
---
        .pipe(extract_city_name) 640 32
---
time_to_datetime, [ 700 19
---
] 773 1
---
        .assign( 785 16
---
fl_date=lambda x: pd.to_datetime(x[ 814 35
---
]),
             858 16
---
dest=lambda x: pd.Categorical(x[ 874 32
---
]),
             912 16
---
origin=lambda x: pd.Categorical(x[ 928 34
---
origin 963 6
---
]), 970 3
---
            tail_num=lambda x: pd.Categorical(x[ 974 48
---
tail_num 1023 8
---
]), 1032 3
---
            unique_carrier=lambda x: pd.Categorical(x[ 1036 54
---
unique_carrier 1091 14
---
]),
             1106 16
---
cancellation_code=lambda x: pd.Categorical(x[ 1122 45
---
]) 1186 2
---
)
    return df


def extract_city_name(df: 1204 43
---
pd.DataFrame) ->  1248 17
---
pd.DataFrame:
     1265 18
---

    Chicago, IL -> Chicago for origin_city_name and dest_city_name
     1286 72
---

    cols = [ 1361 13
---
origin_city_name 1375 16
---
dest_city_name 1395 14
---
]
    city = df[cols].apply(lambda x: x.str.extract("(.*), \w{2}", expand=False))
    df = df.copy()
    df[[ 1410 109
---
origin_city_name 1520 16
---
dest_city_name 1540 14
---
]] = city
    return df
 1555 24
---
 1579 0
---

[Match(a=0, b=0, size=52),
 Match(a=63, b=52, size=32),
 Match(a=96, b=85, size=7),
 Match(a=107, b=96, size=84),
 Match(a=199, b=188, size=6),
 Match(a=209, b=198, size=29),
 Match(a=246, b=235, size=12),
 Match(a=262, b=251, size=33),
 Match(a=296, b=285, size=21),
 Match(a=318, b=307, size=8),
 Match(a=330, b=319, size=3),
 Match(a=343, b=332, size=9),
 Match(a=356, b=345, size=1),
 Match(a=366, b=356, size=9),
 Match(a=392, b=369, size=1),
 Match(a=394, b=371, size=16),
 Match(a=411, b=388, size=16),
 Match(a=440, b=417, size=5),
 Match(a=446, b=423, size=49),
 Match(a=510, b=479, size=40),
 Match(a=578, b=552, size=24),
 Match(a=606, b=576, size=26),
 Match(a=651, b=618, size=11),
 Match(a=663, b=630, size=9),
 Match(a=676, b=640, size=32),
 Match(a=726, b=700, size=19),
 Match(a=799, b=773, size=1),
 Match(a=822, b=814, size=35),
 Match(a=866, b=858, size=16),
 Match(a=890, b=874, size=32),
 Match(a=928, b=912, size=16),
 Match(a=952, b=928, size=34),
 Match(a=994, b=970, size=3),
 Match(a=1005, b=974, size=48),
 Match(a=1063, b=1032, size=3),
 Match(a=1074, b=1036, size=54),
 Match(a=1129, b=1091, size=14),
 Match(a=1144, b=1106, size=16),
 Match(a=1168, b=1122, size=45),
 Match(a=1232, b=1186, size=2),
 Match(a=1235, b=1204, size=43),
 Match(a=1278, b=1248, size=17),
 Match(a=1304, b=1265, size=18),
 Match(a=1325, b=1286, size=72),
 Match(a=1400, b=1361, size=13),
 Match(a=1414, b=1375, size=16),
 Match(a=1434, b=1395, size=14),
 Match(a=1449, b=1410, size=109),
 Match(a=1559, b=1520, size=16),
 Match(a=1579, b=1540, size=14),
 Match(a=1594, b=1555, size=23),
 Match(a=1618, b=1578, size=0)]

In [ ]:
code